

table.board {
    border-collapse: collapse;
}

table.board td {
    width: 30px;
    height: 30px;
    border: 1px solid #333;
    text-align: center;
    vertical-align: middle;
    font-size: 20px;
    cursor: pointer;
}

footer{
    text-align:  center;
    margin-top: 20px;
    font-size: 14px;
    color:  #555;
}